span, div, table, button, input {
  opacity: 95%;
}

input[type="text"] {
  width: 90%;
}

.submit {
  text-align: center;
}

.data-field {
  border: solid;
  border-width: thin;
  border-color: white;
  background-color: CornflowerBlue;
  text-align: center;
  color: white;
  font-family: sans-serif;
  padding: 4px;
  font-size: 18px;
}

.player-table {
    width: 100%;
}

.player-data-header {
  display: flex;
  font-weight: 900;
  text-align: center;
  border-radius: 15px;
  -webkit-app-region: drag;
}

.player-data-footer {
  /* display: flex; */
  text-align: left;
}

.heading-left {
  border-top-left-radius: 15px;
}

.heading-right {
  border-top-right-radius: 15px;
}

.cell-1 {
  width: 46%;
}

.cell-2 {
  width: 32%;
}

.cell-3 {
  width: 22%;
}

.cell-full {
  width: 100%;
}

.player-data-row {
  display: flex;
  font-weight: bold;
}

.inner-cell-left {
  border-right: thin solid white;
  width: 50%;
}

.inner-cell-right {
  width: 50%;
}

.name {
  text-align: left;
}

.power-split {
  display: inline-flex;
}

.add-player {
  font-weight: 900;
  background-color: white;
  width: 50px;
  border-radius: 5px
}

.footer-toggle {
  line-height: 1;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: 900;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.footer-label {
  padding-right: 20px;
  font-size: 14px;
}

label {
  float: right;
  display: inline;
  padding-left: 2px;
  padding-right: 5px;
}

input:radio {
  float: right;
  background-color: LightGrey;
  border-color: transparent;
}

div.radio-input {
  font-size: 14px;
}
